@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.colorPicker {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}
.clear {
  border: 1px solid gray;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  width: max-content;
  text-align: center;
  transition: ease-in 0.3s;
  color: teal;
  font-size: 20px;
}
.clear:hover {
  letter-spacing: 2px;
}
canvas {
  background: cornflowerblue;
}
.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
